<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Channels example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>


<div style="min-height:100%;">
    <div style="height: 103px;width: 215px;margin: 300px auto auto;text-align: center;border: 1px solid #969191;padding: 6px;border-radius: 7px;">
        <div class="row">
            <div class="col-lg-12 justify-content-md-center">
                <div>Likes counter:</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 justify-content-md-center">
                <div id="cnt">{{ count }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 justify-content-md-center">
                <button class='btn btn-block btn-danger' onclick="like()">Like</button>
            </div>
        </div>
    </div>
</div>

<script>
    function initSocket() {
        const loc = window.location;

        let wsStart = 'ws://';
        if (loc.protocol === 'https://') {
            wsStart = 'wss://';
        }
        const endpoint = wsStart + window.location.host + window.location.pathname;
        return new WebSocket(endpoint);
    }

    socket = initSocket();

    socket.onmessage = function (event) {
        // update the counter whenever we receive new value
        document.getElementById("cnt").innerHTML = event.data;
    };

    socket.onopen = function (event) {
        // when connection is established we broadcast the current status of the counter
    };

    socket.onerror = function (event) {
        // probably could switch to form default if
        // web socket is not available
    };

    socket.onclose = function (event) {
        // nothing to handle here
    };

    function like() {
        // notify the service of the new like
        socket.send("like");
    }
</script>
</body>
</html>